html, body {                                   /* My First Website (Needs working on)  */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Intro Section */

.bg-img {
    background-image: url("/images/bg1.jpg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    top: 30px;
    margin-left: 13%;
}


.navbar {
    overflow: hidden;
    color: white;
    position: relative;
}


.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.name h1 {
    position: relative;
    top: 60px;
    margin-left: 35%;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
}


.name p {
    position: relative;
    color: white;
    top: 55px;
    margin-left: 35%;
    font-size: 28px;
}

/* Second section containing about and skills */

.container2 {
    background-color: #191919;
    color: white;
    position: relative;
    padding: 5%;
    text-align: left;
    
}


.about h1 {
    position: relative;
    bottom: 40px;
    font-size: 32px;
    letter-spacing: 6px;
    font-weight: normal;
    margin-left: 15%;
}

.about p {
    position: relative;
    bottom: 10px;
    line-height: 1.6;
    font-size: 18px;
    margin-left: 15%;
    
}

.skills {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-left: 10%;
    
}

.skills h5 {
    position: relative;
    right: 100px;
    bottom: 5px;
    font-weight: normal;
    font-size: 24px;
}

.skills li {
    position: relative;
    font-size: 18px;
    top: 10px;

}

/* Section containing education, projects and todo */


.end {
    margin: 35px 0.5px;
    padding: 60px 15px;
    
}

.education h1 {
    font-size: 24px;
    position: relative;
    top: -50px;
    margin-left: 17%;
    border-bottom-style: solid;
}

.education p{
    font-size: 16px;
    position: relative;
    margin-left: 17%;
    top: -50px;
    
}

.education a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-left: 17%;
    top: -50px;
}

.education a:visited{
    text-decoration: none;
    color: black;
}
.education a:hover{
    text-decoration: underline;
}

/* Project Section and links */

.projects {
    position: relative;
    margin-left: 1px;
}

.projects h2 {
    font-size: 24px;
    position: relative;
    top: -30px;
    margin-left: 17%;
    border-bottom-style: solid;
}

.projects p{
    position: relative;
    top: -20px;
    margin-left: 17%;
}

.projects a{
    position: relative;
    color: blue;
    top: -20px;
    margin-left: 17%;
}

/*  Section for what I want to complete in 2021 */

.todo {
    position: relative;
    margin-left: 17%;
    top: 10px;
}

.todo h3{
    font-size: 20px;
}

.todo li{
    font-size: 18px;
}

.plan h4{
    font-weight: normal;
    font-size: 17px;
    position: relative;
    top: 50px;
    margin-left: 17%;
}

.plan h5{
    position: relative;
    margin-left: 17%;
    top: 70px;
    font-weight: normal;
    font-size: 16px;
}

/* Footer page containing image links */

.footer {
    position: relative;
    padding: 1.3%;
    background-color: black;
}


.footer h1{
    position: absolute;
    margin-left: 35%;
}

.footer h2{
    position: relative;
    margin-left: 55%;
}


/* Responsivness - Still getting familiar with this */

@media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        right: 20px;
    }
    .name h1 {
        right: 50px;
        font-size: 30px;
    }
    .name p {
        font-size: 20px;
        right: 50px;
    }
    
    .about h1  {
        top: 20px;
    }
    .about p {
        font-size: 20px;
        top: 40px;
    }
    .skills {
        display: inline;
    }
    .skills h5 {
        font-size: 20px;
        left: 110px;
    }
    .skills li {
        font-size: 18px;
    }
    .education a {
        position: relative;
        font-size: 15px;
    }
    .footer h1 {
        position: absolute;
        margin-left: 50px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar {
        right: 20px;
    }
    .name {
        position: relative;
        bottom: 30px;
        right: 100px;
    }
    .about h1 {
        top: 0px;
    }
    .about p {
        top: 30px;
    }
    .skills {
        position: relative;
        display: inline;
        left: 250px;
    }
    .footer h1 {
        position: absolute;
        margin-left: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {
    
}

@media (min-width: 1281px) {

}